body{
    max-width: 1440px;
    height: 4060px;
    margin: 0;
    border: 1px solid red;
}

/* HEadER sECTION*/
header{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 7%;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

#logo{
    display: flex;
    padding: 0;
    font-weight: bold;
    align-items: center;
}

button{
    background: white;
}

#navbar{
    display: flex;
    align-items: center;
}

#menu{
    display: none;
}

#slogan{
    margin-left: 15px;
    font-size: 1em;
}

#navbar >*{
    border: none;
    font-family: Overpass SemiBold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 15px;
}

.donation{
    background: #F18F01;
    padding: 7px 20px;
    border-radius: 15px;
    color: white;
}

.dropbtn{
    border: none;
    background: white;
    font-family: Overpass SemiBold;
    font-size: 14px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* HEADER RESPONSIVE DIV */
@media(max-width: 950px){

    header{
        height: 65px;
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 746px){
    header{
        display: flex;
        flex-direction: column;
        height: 85px;
    }

    #logo{
        width: 35%;
        align-items: center;
        justify-content: space-evenly;
    }

    #navbar{
        justify-content: space-evenly;
        width: 100%;
        margin-right: 0;
    }

    #navbar > * {
        margin: 0;
    }
}

@media(max-width: 527px){
    header{
        height: 60px;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #logo{
        height: 6o0px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    #menu{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    }

    #menu-bar{
        display: none;
    }

    .dropdown-content{
        position: absolute;
        top:   20px;
        left: -40px;
        min-width: 140px;
    }
}

/* TOP SECTION */

#top{
    width: 85%;
    margin: 0 7%;
    display: grid;
    grid-template-columns: 46% 46%;
    grid-column-gap: 8%;
    padding: 8.2% 0;
}    

#left>*{
    margin: 0;
}

#pic3{
    width: 100%;
}

#left-h1{
    font-family: IBM Plex Serif;
    font-size: 3.3vw;
}

#left-p{
    font-family: Overpass;
    font-size: 1.3vw;
    margin: 0;
    line-height: 6.5vh;
}

#member{
    height: 40px;
    width: 180px;
    left: 140px;
    top: 533px;
    color: white;
    border: none;
    background: #007299;
    border-radius: 50px;
    font-family: Overpass SemiBold;
}

#partner{
    height: 40px;
    width: 180px;
    left: 140px;
    top: 533px;
    color: white;
    border: none;
    background: #000;
    border-radius: 50px;
    font-family: Overpass SemiBold;
}

#pic, #pic2{
    display: none;
}

/* TOP RESPONSIVE DIV */
@media(max-width: 1180px){
    #top{
        grid-template-columns: 50% 50%;
        grid-column-gap: 0%;
    }    
}

@media(max-width: 950px){

    #top{
        width: 100%;
        margin: 0;
        padding: 5.5% 0;
    }    


    #left-h1{
        font-size: 4.1vw;
    }

    #partner{
        width: 20vw;
    }

    #member{
        width: 20vw;
    }
}

@media(max-width: 746px){

    #top{
        grid-template-rows: 43%;
        grid-template-columns: 100%;
        padding: 5.2% 0;
        text-align: center;
        margin: 0;
    }

    #left-h1{
        font-size: 5vw;
        line-height: 8.5vh;
        margin-bottom: 2%;
    }

    #left-p{
        font-size: 2.5vw;
        line-height: 4.5vh;
        margin-bottom: 1%;
    }

    #pic2, #pic3{
        display: none;
    }

    #pic{
        width: 50vw;
        margin: 1vh auto;
        display: block;
    }

    #partner, #member{
        height: 40px;
        width: 180px;
    }
}

@media(max-width: 527px){
    #top{
        grid-template-rows: 53%;
        grid-template-columns: 100%;
        grid-row-gap: 0;
    }

    #left-h1{
        font-size: 5.5vw;
        line-height: 7.5vh;
        margin-bottom: 2%;
    }

    #left-p{
        font-size: 3vw;
        line-height: 4.5vh;
        margin-bottom: 1%;
    }

    #left{
        margin-bottom: 0;
    }

    #right{
        margin-bottom: 0;
    }

    #partner, #member{
        height: 6vh;
        width: 40vw;
    }

    #pic{
        width: 40vw;
        margin-top: 2vh;
    }
}

@media(max-width: 400px){
    #pic{
        margin-top: 4.5vh;
    }
}

/* QUOTE SECTION */
#quote-B{
    width: 100%;
    padding: 10vh 0;
    color: aliceblue;
    background: #007299;
}

#quote{
    margin: 0 auto;
    width: 55%;
    text-align: justify;
}

#quote-h1{
    color: white;
    font-family: IBM Plex Serif;
    margin: 0;
    font-size: 3vw;
}

#quote-p{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    font-family: Overpass;
}

#quote-p1{
    margin: 0;
    width: 72%;
    line-height: 32px;
    font-size: 1.5vw;
}

#quote-p2{
    width: 28%;
    text-align: center;
}

#quote-img{
    width: 12vw;
}

#quote-p23{
    font-weight: 700;
    font-size: 1.5vw;
}

#quote-p24{
    margin-top: 1%;
    font-size: 1.5vw;
}

#quote-btn{
    font-family: Overpass SemiBold;
    height: 7vh;
    width: 22vw;
    font-size: 1.2vw;
    margin-top: -5vh;
    border-radius: 50px;
    background: #1F2421;
    color: #FFFFFF;
    border: none;
}

/* QUOTE RESPONSIVE SECTION */

@media(max-width: 950px){

    #quote{
        width: 80%;
    }

}

@media(max-width: 746px){

    #quote{
        margin: auto;
        width: 80%;
        text-align: justify;
    }

    #quote-h1{
        line-height: 6.5vh;
        font-size: 3.9vw;
    }

   
    #quote-p1{
        width: 100%;
        font-size: 2.0vw;
        line-height: 4.5vh;
    }

    #quote-p2{
        width: 35%;
    }

    #quote-p2 > *{
        margin: 0;
    }

    #quote-img{
        width: 16vw;
    }

    #quote-p23{
        font-size: 2.0vw;
    }

    #quote-p24{
        font-size: 2.0vw;
    }

    #quote-btn{
        margin-top: 1vh;
        height: 6vh;
        width: 28vw;
        font-size: 1.6vw;
    }
}

@media(max-width: 527px){

    #quote-B{
        padding: 1vh 0;
    }

    #quote{
        text-align: justify;
        width: 90%;
        
        margin: 5%;
        box-sizing: border-box;
    }

    #quote-h1{
        font-size: 4.8vw;
    }

    #quote-p{
        flex-direction: column;
    }

    #quote-p1{
        font-size: 2.3vw;
    }

    #quote-p2{
        margin: auto;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #quote-img{
        width: 19vw;
    }

    #quote-p23{
        font-size: 2.6vw;
    }

    #quote-p24{
        font-size: 2.6vw;
    }

    #quote-btn{
        margin-top: 2vh;
        height: 6vh;
        width: 45vw;
        font-size: 2.3vw;
    }
}

/* SECTIONS SECTION */

#section{
    width: 85%;
    margin: auto;
    box-sizing: border-box;
}

#section2{
    margin: 5% auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section2-2{
    margin: 5% auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

#sect-img{
    width: 45%;
}

#section3{
    margin: 0;
    padding: 0;
    width: 45%;
    text-align: left;
    box-sizing: border-box;
}

#sects-btn{
    border: none;
    background: #007299;
    color: white;
    font-family: Overpass SemiBold;
    height: 35px;
    font-size: 2.6vh;
    padding: 1% 3.75%;
    border-radius: 50px;
}

#sect-h2{
    margin: 0;
    width: 100%;
    font-size: 25px;
    font-family: IBM Plex Serif;
    box-sizing: border-box;
}

#sect-p{
    width: 100%;
    font-size: 15px;
    line-height: 5.5vh;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}

/* SECTIONS RESPONSIVE SECTION */

@media(max-width: 950px){

    #sect-h2{
        margin: 0;
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
    }

    #sect-p{
        width: 100%;
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        box-sizing: border-box;
        line-height: 4.0vh;
    }
}

@media(max-width: 746px){

    #sect-h2{
        font-size: 16px;
    }

    #sect-p{
        font-size: 10px;
        line-height: 3.5vh;
    }

    #sects-btn{
        height: 4.5vh;
        font-size: 2.0vh;
    }

}

@media(max-width: 527px){

    #section{
        width: 100%;
        box-sizing: border-box;
    }

    #section2{
        width: 100%;
        margin: 4% 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sect-h2{
        margin: 3% auto;
        width: 70%;
        font-size: 13px;
        text-align: center; 
    }

    #section2-2{
        margin: 4% 0;
        flex-direction: column;
    }

    #sect-img{
        width: 45vw;
    }

    #section3{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        box-sizing: border-box;
    }

    #sect-p{
        margin: 3% auto;
        width: 70%;
        font-size: 2.3vw;
        line-height: 3.8vh;
    }

    #sects-btn{
        margin: 3% auto;
        height: 30px;
        display: block;
        font-size: 2.3vw;
        padding: 0 2.75%;
        border-radius: 50px;
    }

}

@media(max-width: 375px){

    #section{
        margin: 0 auto;
        width: 90%;
        box-sizing: border-box;
    }

    #section2{
        width: 100%;
        margin: 10% 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #section2-2{
        margin: 10% 0;
        flex-direction: column;
    }

    #sect-img{
        width: 60vw;
    }

    #section3{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        box-sizing: border-box;
        text-align: center; 
    }

    #sect-h2{
        margin: 6% 0;
        width: 100%;
        font-size: 20px;
        font-family: IBM Plex Serif;
        box-sizing: border-box;
    }

    #sect-p{
        width: 100%;
        margin: 6% 0;
        font-size: 2.3vw;
        font-family: 'Overpass', sans-serif;
        box-sizing: border-box;
        line-height: 3.5vh;
        text-align: justify; 
    }

    #sects-btn{
        border: none;
        background: #007299;
        color: white;
        font-family: Overpass SemiBold;
        height: 30px;
        font-size: 2.3vw;
        padding: 0 2.75%;
        border-radius: 50px;
    }
}

/* TESTIMONIal SECTION */
#testimonial-base{
    width: 85%;
    height: 65vh;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E8F6FB;
}

#testimonial-base1{
    width: 75%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

#testimonial{
    width: 80%;
}

#test-img{
    width: 10vw;
    height: 24vh;
}

#testimony{
    margin-top: 0;
    margin-bottom: 10vh;
    font-size: 2.4vw;
    font-family: IBM Plex Serif;
}

#test-name{
    margin: 0;
    font-size: 1.5vw;
    font-family: Overpass SemiBold;
}

 #test-desig {
    margin-top: 1%;
    font-size: 1.5vw;
    font-family: 'Overpass', sans-serif;
}

#test-arrows{
    margin-top: 8%;
}

#test-vec1{
    margin-left: 2%;
}
/* TESTIMONIal RESPONSIVE SECTION */

@media(max-width: 950px){
    #testimonial-base{
        width: 85%;
        height: 55vh;
    }

    #test-img{
        width: 10vw;
        height: 18vh;
    }

    #testimonial-base1{
        height: 40vh;
    }
}

@media(max-width: 746px){
    #testimonial-base{
        width: 85%;
        height: 45vh;
    }

    #testimonial-base1{
        width: 85%;
        height: 30vh;
    }

    #test-img{
        width: 10vw;
        height: 15vh;
    }
    
    #testimony{
        margin-bottom: 5vh;
        font-size: 2.4vw;
    }
    
    #test-name{
        margin-top: 6vh;
        font-size: 1.5vw;
    }
    
    #test-desig {
        font-size: 1.5vw;
    }

    #test-arrows{
        margin-top: 6vh;
        font-size: 1.5vw;
    }

    #test-vec1, #test-vec2{
        width: 3%;
    }

    #test-vec1{
        margin-left: 3%;
    }
}

@media(max-width: 527px){

    #testimonial-base1{
        width: 82%;
        height: 23vh;
        justify-content: space-between;
    }

    #testimonial{
        width: 75%;
    }
    
    #test-img{
        width: 15vw;
        height: 15vh;
    }

    #testimony{
        font-size: 2.5vw;
    }

    #test-name{
        margin-top: 1.5vh;
        font-size: 1.8vw;
    }
    
    #test-desig {
        font-size: 1.8vw;
    }

    #test-arrows{
        margin-top: 4vh;
    }
}

@media(max-width: 375px){

    #testimonial-base{
        width: 90%;
        height: 35vh;
    }

    #testimonial-base1{
        width: 90%;
        height: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #testimonial{
        width: 90%;
    }

    #testimony{
        margin-top: 3.5vh;
        margin-bottom: 3.5vh;
        font-size: 3.5vw;
    }

    #test-name{
        margin-top: 1.5vh;
        font-size: 2.8vw;
    }
    
    #test-desig {
        font-size: 2.8vw;
    }

    #test-arrows{
        display: none;   
    }

    #test-img{
        width: 15vw;
        height: 10vh;
    }
}

/* FOOTER SECTION */
    footer{
        color: #fff;
        background: #000;
        width: 100%;
        height: 90vh;
        display: flex; 
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 12px solid royalblue;
    }

    #footer{
        width: 85%;
        height: 55%;
        display: flex; 
        justify-content: space-between;
        box-sizing: border-box;
        border: 10px solid white;
    }

    #footer > *{
    }

    #footer div{
        border: 1px solid rgb(246, 7, 7);
    }

    #footer p{
        line-height: 5vh;
        font-family: 'Overpass', sans-serif;
    }

    #foot-h3{
        font-family: IBM Plex Serif;
    }

    #company{
        width: 30%;
        font-size: 1vw;
    }

    #contact{
        width: 25%;
        font-size: 1vw;
        line-height: 5vh;
    }

    #links{
        width: 10%;
        font-size: 1vw;
    }

    #newsletter{
        width: 35%;
        font-size: 1vw;
    }


    .comp-btn{
        color: white;
        background: #F18F01;
        border-radius: 50px;
        padding: 6px 20px;
        font-family: Overpass SemiBold;
    }

    #copyright{
        margin-right: 73.5%;
        font-family: 'Overpass', sans-serif;
    }

    .custom-search{
        position: relative;
        width: 300px;
    }

    .custom-search-input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 100px;
        padding: 10px 100px 10px 20px;
        line-height: 1;
        box-sizing: border-box;
        outline: none;
    }

    .custom-search-button{
        position: relative;
        right: 3px;
        left: 180px;
        bottom: 35px;
        background: #000;
        color: #fff;
        outline: none;
        margin: 0;
        padding: 6px 20px;
        border-radius: 100px;
        z-index: 2;
        font-family: Overpass SemiBold;
    }



/* FOOTER RESPONSIVE SECTION */
